html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.tabela-com-barra-de-rolagem {
    width: auto; /*Largura automática da tabela*/
    overflow-x: auto; /*Adiciona barra de rolagem horizontal caso necessário*/
}

    .tabela-com-barra-de-rolagem th, /*Aplica a formatação para cabeçalho e corpo da tabela*/
    .tabela-com-barra-de-rolagem td {
        white-space: nowrap; /*Impede que as informações da tabela quebrem linha*/
    }

/* Estilos para a página inicial */
.pagina-inicial {
    height: 100%;
    display: flex;
    flex-direction: column;
}

    .pagina-inicial .conteudo-centralizado {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

.pagina-inicial-body {
    background: url('../img/home.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    margin: 0;
}

.navbar-custom {
    background-color: #000 !important; /* #000 representa a cor preta */
    /* Adicione outros estilos conforme necessário */
}

    .navbar-custom .nav-link {
        color: white; /* Define a cor do texto como branco */
    }
